/* CUSTOM PROPERTIES */
:root {
  --white-color: #fff;
  --black-color: #000;
  --font: "Roboto", sans-serif;
}

/* RESET */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--black-color);
  background-color: var(--white-color);
}

img {
  max-width: 100%;
  height: auto;
}

[id] {
  scroll-margin-top: 2ex;
}
